<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.maxstow.unofficialtwucampusmapgame"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Welcome"
            android:label="@string/title_activity_welcome"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.maxstow.unofficialtwucampusmapgame.MainActivity" />
        </activity>
        <activity
            android:name=".StartGame"
            android:label="@string/title_activity_start_game"
            android:parentActivityName=".Welcome" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.maxstow.unofficialtwucampusmapgame.Welcome" />
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBbPpG_0bTx72Ol7glbf6stmNrKR9h-6aM" />

        <activity
            android:name=".FieldTrip"
            android:label="@string/title_activity_field_trip"
            android:parentActivityName=".StartGame" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.maxstow.unofficialtwucampusmapgame.StartGame" />
        </activity>
        <activity
            android:name=".FieldTrip3"
            android:label="@string/title_activity_field_trip3"
            android:parentActivityName=".StartGame" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.maxstow.unofficialtwucampusmapgame.StartGame" />
        </activity>
        <activity
            android:name=".FieldTrip2"
            android:label="@string/title_activity_field_trip2"
            android:parentActivityName=".StartGame" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.maxstow.unofficialtwucampusmapgame.StartGame" />
        </activity>
        <activity
            android:name=".FieldTrip4"
            android:label="@string/title_activity_field_trip4"
            android:parentActivityName=".StartGame" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.maxstow.unofficialtwucampusmapgame.StartGame" />
        </activity>
        <activity
            android:name=".FieldTrip5"
            android:label="@string/title_activity_field_trip5"
            android:parentActivityName=".StartGame" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.maxstow.unofficialtwucampusmapgame.StartGame" />
        </activity>
        <activity
            android:name=".FieldTrip6"
            android:label="@string/title_activity_field_trip6"
            android:parentActivityName=".StartGame" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.maxstow.unofficialtwucampusmapgame.StartGame" />
        </activity>
        <activity
            android:name=".FieldTrip7"
            android:label="@string/title_activity_field_trip7"
            android:parentActivityName=".StartGame" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.maxstow.unofficialtwucampusmapgame.StartGame" />
        </activity>
        <activity
            android:name=".FieldTrip8"
            android:label="@string/title_activity_field_trip8"
            android:parentActivityName=".StartGame" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.maxstow.unofficialtwucampusmapgame.StartGame" />
        </activity>
        <activity
            android:name=".FieldTrip9"
            android:label="@string/title_activity_field_trip9"
            android:parentActivityName=".StartGame" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.maxstow.unofficialtwucampusmapgame.StartGame" />
        </activity>
        <activity
            android:name=".FieldTrip10"
            android:label="@string/title_activity_field_trip10"
            android:parentActivityName=".StartGame" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.maxstow.unofficialtwucampusmapgame.StartGame" />
        </activity>
        <activity
            android:name=".FieldTrip11"
            android:label="@string/title_activity_field_trip11"
            android:parentActivityName=".StartGame" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.maxstow.unofficialtwucampusmapgame.StartGame" />
        </activity>
        <activity
            android:name=".FieldTrip12"
            android:label="@string/title_activity_field_trip12"
            android:parentActivityName=".StartGame" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.maxstow.unofficialtwucampusmapgame.StartGame" />
        </activity>
        <activity
            android:name=".FieldTrip13"
            android:label="@string/title_activity_field_trip13"
            android:parentActivityName=".StartGame" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.maxstow.unofficialtwucampusmapgame.StartGame" />
        </activity>
        <activity
            android:name=".FieldTrip14"
            android:label="@string/title_activity_field_trip14"
            android:parentActivityName=".StartGame" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.maxstow.unofficialtwucampusmapgame.StartGame" />
        </activity>
        <activity
            android:name=".FieldTrip15"
            android:label="@string/title_activity_field_trip15"
            android:parentActivityName=".StartGame" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.maxstow.unofficialtwucampusmapgame.StartGame" />
        </activity>
        <activity
            android:name=".FieldTrip16"
            android:label="@string/title_activity_field_trip16"
            android:parentActivityName=".StartGame" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.maxstow.unofficialtwucampusmapgame.StartGame" />
        </activity>
        <activity
            android:name=".FieldTrip17"
            android:label="@string/title_activity_field_trip17"
            android:parentActivityName=".StartGame" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.maxstow.unofficialtwucampusmapgame.StartGame" />
        </activity>
        <activity
            android:name=".FieldTrip18"
            android:label="@string/title_activity_field_trip18"
            android:parentActivityName=".StartGame" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.maxstow.unofficialtwucampusmapgame.StartGame" />
        </activity>
        <activity
            android:name=".FieldTrip19"
            android:label="@string/title_activity_field_trip19"
            android:parentActivityName=".StartGame" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.maxstow.unofficialtwucampusmapgame.StartGame" />
        </activity>
    </application>

</manifest>
